<h1>{{ title }}</h1>

<table border="0" width="100%" id="table1">
	<tr>
		<td align="center">
		<table border="0" width="60%" id="table2">
			<tr><td colspan="5">Times are in (GMT+08:00) Taiwan<br>　</td></tr>
			<tr>
				<th align="center" width="20%"><b>Sunday</b><br>
				26 Jun</th>
				<th align="center" width="20%"><b>Monday<br>
				</b>27 Jun</th>
				<th align="center" width="20%"><b>Tuesday<br>
				</b>28 Jun</th>
				<th align="center" width="20%"><b>Wednesday<br>
				</b>29 Jun</th>
				<th align="center" width="20%"><b>Thursday<br>
				</b>30 Jun</th>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td align="center">
		<table border="0" width="60%" id="table3">
			<tr>
				<td align=center width="20%"><table border="0" width="80%" id="table4a">
					<tr><td id="slotA1000" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">10:00 am</td></tr>
					<tr><td id="slotA1030" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">10:30 am</td></tr>
					<tr><td id="slotA1100" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">11:00 am</td></tr>
					<tr><td id="slotA1130" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">11:30 am</td></tr>
					<tr><td id="slotA1200" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">12:00 pm</td></tr>
					<tr><td id="slotA1230" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">12:30 pm</td></tr>
					<tr><td id="slotA1300" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">1:00 pm</td></tr>
					<tr><td id="slotA1330" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">1:30 pm</td></tr>
					<tr><td id="slotA1400" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">2:00 pm</td></tr>
					<tr><td id="slotA1430" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">2:30 pm</td></tr>
					<tr><td id="slotA1500" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">3:00 pm</td></tr>
					<tr><td id="slotA1530" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">3:30 pm</td></tr>
					<tr><td id="slotA1600" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">4:00 pm</td></tr>
					<tr><td id="slotA1630" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">4:30 pm</td></tr>
					<tr><td id="slotA1700" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">5:00 pm</td></tr>
					<tr><td id="slotA1730" class="time-box-mask pattern-diagonal-stripes-ss" (click)="myFunc(this, $event)">5:30 pm</td></tr>
				</table></td>
				<td align=center width="20%"><table border="0" width="80%" id="table4b">
					<tr><td class="time-box">10:00 am</td></tr>
					<tr><td class="time-box">10:30 am</td></tr>
					<tr><td class="time-box">11:00 am</td></tr>
					<tr><td class="time-box">11:30 am</td></tr>
					<tr><td class="time-box">12:00 pm</td></tr>
					<tr><td class="time-box">12:30 pm</td></tr>
					<tr><td class="time-box">1:00 pm</td></tr>
					<tr><td class="time-box">1:30 pm</td></tr>
					<tr><td class="time-box">2:00 pm</td></tr>
					<tr><td class="time-box">2:30 pm</td></tr>
					<tr><td class="time-box">3:00 pm</td></tr>
					<tr><td class="time-box">3:30 pm</td></tr>
					<tr><td class="time-box">4:00 pm</td></tr>
					<tr><td class="time-box">4:30 pm</td></tr>
					<tr><td class="time-box">5:00 pm</td></tr>
					<tr><td class="time-box">5:30 pm</td></tr>
				</table></td>
				<td align=center width="20%"><table border="0" width="80%" id="table4">
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">10:00 am</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">10:30 am</td></tr>
					<tr><td class="time-box">11:00 am</td></tr>
					<tr><td class="time-box">11:30 am</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">12:00 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">12:30 pm</td></tr>
					<tr><td class="time-box">1:00 pm</td></tr>
					<tr><td class="time-box">1:30 pm</td></tr>
					<tr><td class="time-box">2:00 pm</td></tr>
					<tr><td class="time-box">2:30 pm</td></tr>
					<tr><td class="time-box">3:00 pm</td></tr>
					<tr><td class="time-box">3:30 pm</td></tr>
					<tr><td class="time-box">4:00 pm</td></tr>
					<tr><td class="time-box">4:30 pm</td></tr>
					<tr><td class="time-box">5:00 pm</td></tr>
					<tr><td class="time-box">5:30 pm</td></tr>
				</table></td>
				<td align=center width="20%"><table border="0" width="80%" id="table4d">
					<tr><td class="time-box">10:00 am</td></tr>
					<tr><td class="time-box">10:30 am</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">11:00 am</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">11:30 am</td></tr>
					<tr><td class="time-box">12:00 pm</td></tr>
					<tr><td class="time-box">12:30 pm</td></tr>
					<tr><td class="time-box">1:00 pm</td></tr>
					<tr><td class="time-box">1:30 pm</td></tr>
					<tr><td class="time-box">2:00 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">2:30 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">3:00 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">3:30 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">4:00 pm</td></tr>
					<tr><td class="time-box">4:30 pm</td></tr>
					<tr><td class="time-box">5:00 pm</td></tr>
					<tr><td class="time-box">5:30 pm</td></tr>
				</table></td>
				<td align=center width="20%"><table border="0" width="80%" id="table4c">
					<tr><td class="time-box">10:00 am</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">10:30 am</td></tr>
					<tr><td class="time-box">11:00 am</td></tr>
					<tr><td class="time-box">11:30 am</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">12:00 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">12:30 pm</td></tr>
					<tr><td class="time-box">1:00 pm</td></tr>
					<tr><td class="time-box">1:30 pm</td></tr>
					<tr><td class="time-box">2:00 pm</td></tr>
					<tr><td class="time-box">2:30 pm</td></tr>
					<tr><td class="time-box">3:00 pm</td></tr>
					<tr><td class="time-box">3:30 pm</td></tr>
					<tr><td class="time-box">4:00 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">4:30 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">5:00 pm</td></tr>
					<tr><td class="time-box-mask pattern-diagonal-stripes-ss">5:30 pm</td></tr>
				</table></td>
				<td align=center width="20%">　</td>
		</table>
		</td>
	</tr>
</table>
